page-email-verification {
	.email_btn
	{
	margin: 0px !important;
    margin-top: 20px !important;
    border-radius: 4px !important;
    color: #FFFFFF !important;
    background-color: #387ef5 !important;
    font-size: 1.6rem !important;
    font-weight: 500 !important;
    padding: 20px !important;
	}

}
