page-customer-human-atm-edit {
 #map {
        height: 50%;
      }
 .map-container
    {
        height: 50%;

      google-map {
        height: 100%;
        width: 100%;
      }
    }
    
   
    .card 
    {
        background: #f5f5f5;
        padding: 0 0 11px 10px !important;

    }
    .card-content .item 
    {
        background: none;
        border:0px !important;

    }
    .searchbar 
    {
        background: none;
        border:0px !important;
        margin: 0px !important;
        padding: 0px !important;

    }
    .card-header
    {
       padding: 7px 0 0px 0px !important;
       font-size: 15px !important;

    }
    ion-item
    {
        margin: 0px !important;
        padding: 0px !important;
       
    }
    .card-content {
    margin: 0px !important;
    padding: 0px !important;
}
    .text-input {
    border-bottom: 1px solid #bdbdbd;
    margin: 0px !important;
}
.item-block
{
    background: none !important;
    border: 0px;

}
.list > .item-block
{
    border: 0px !important;
}
.fab
{
    background-color: #387ef5;
    color: white;

}
textarea
{
    width: 100% !important;
    font-size: 14px  !important;
     color: black !important;

}
.label
{
    font-size: 14px !important;
    color: black !important;

}

}
