page-customer-add-address {
.add_adress_head
{
        font-size: 14px;
}
.adress_bottom input
{
    border-bottom: 1px solid #757575;

}
.adress_bottom button
{
    border-bottom: 1px solid #757575 !important;;

}
ion-select {
   
    max-width: 100%; 
}



}
