<!--
  Generated template for the CustomerSecretCodeListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
     Secret Codes 
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <ion-list>
   <ng-container *ngFor="let code of customerSecretCode.secretcodeList">
     <ion-item-sliding>
    <ion-item>
     <h2>{{code.meta_value}}</h2>
    </ion-item>
    <ion-item-options side="right">
      <button ion-button color="primary" (click)="edit(code.meta_value,code.id)">
        <ion-icon name="text"></ion-icon>
        Edit
      </button>
      <button ion-button color="secondary" (click)="deleteCode(code.id)">
        <ion-icon name="close"></ion-icon>
        Delete
      </button>
    </ion-item-options>
  </ion-item-sliding>
   </ng-container>
</ion-list>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-row *ngIf="customerSecretCode.showCode">
      <ion-col col-6>
        <button ion-button block (click)="addCode()">
          Add Secret Code
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block (click)="doneCode()">
          Done
        </button>
      </ion-col>
    </ion-row>
    <ion-row  *ngIf="!customerSecretCode.showCode">
      <ion-col col-12>
        <ion-input type="text" placeholder="Write a secret code..." value="" [(ngModel)]="customerSecretCode.code"></ion-input>
      </ion-col>
      <ion-col col-6>
        <button ion-button block (click)="cancelCode()">
          Cancel
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block  (click)='saveSecretCode()' *ngIf="!customerSecretCode.showEdit"> Save</button>
        <button ion-button block (click)='editCode()' *ngIf="customerSecretCode.showEdit">
          Save
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>