page-customer-bank-details {
	ng-container ion-item.item.item-block.item-md {
       background-color: #fff !important;
    box-shadow: 1px 1px 1px 1px #bdbdbd !important;
    border-radius: 4px !important;
    margin-bottom: 20px !important;
}

}
