page-customer-settings {
	.preferred_margin
	{
	color: black !important;
    font-size: 17px !important;
	margin-bottom: -10px !important;

	}
ion-item.item.item-block {
    padding-left: 10px !important;
}
.input-wrapper label
{
	font-size: 14px;
	margin: 13px 8px 13px 10px !important;
}
.setting_head
{
	color: #0178c1 !important;
	font-weight: bold;
	   font-size: 15px;

}
	.item-inner {
    border: 0px !important;
    box-shadow: 0 0 0 0px !important;
}
input.text-input.text-input
{
	text-align: right;
}
ion-label#lbl-36 {
    color: black !important;
    font-size: 15px !important;
}
}
