<!--
  Generated template for the CustomerOrderRunningListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="auth-header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      Running Order List
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="swipe_right">
    Swipe Right to Cancel
  </div>
  <ion-list class="schedule-list">
    <ng-container *ngFor="let order of CustomerOrderRunningList.orders">
      <ion-item-sliding>

        <ion-item class="schedule-item services_accept_bg">
          <ion-row>
            <ion-col width-20 class="schedule-date" (click)="OrderEditDetail(order.id)">
              <h2 class="schedule-day">{{order.day}}</h2>
              <h3 class="schedule-month">{{order.monthName}}</h3>
              <h3 class="schedule-month">{{order.year}}</h3>
            </ion-col>
            <ion-col width-70 class="schedule-data schedule_shadow" (click)="OrderEditDetail(order.id)">
              <div class="data-item">
                <div class="item-content">
                  <h2 class="item-title one-line" *ngFor="let items of order.subject">{{items.item}}</h2>
                  <h2 class="item-title one-line">
                    <ion-icon class="cost-icon" name="logo-usd"></ion-icon>{{order.customerEstCost}}
                  </h2>
                  <div class="item-description">
                    <ion-icon class="description-icon" name="clock"></ion-icon>
                    <p class="description-text">{{order.startTime}} - {{order.endTime}}</p>
                  </div>
                  <!--<div class="item-description">
                        <ion-icon class="description-icon" name="navigate"></ion-icon>
                        <p class="description-text one-line" *ngIf="order.pickLocation!=undefined">{{order.pickLocation}}</p>
                      </div>-->
                  <div class="item-description">
                    <ion-icon class="description-icon" name="navigate"></ion-icon>
                    <p class="description-text one-line" *ngIf="order.dropLocation!=undefined">{{order.dropLocation}}</p>
                  </div>
                </div>
              </div>
            </ion-col>
            <ion-col width-10>
              <button ion-button class="close_button" clear (click)="OrderCancel(order.id)">
                <ion-icon name="close"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="OrderCancel(order.id)">
            <ion-icon name="close"></ion-icon>Cancel
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>
  </ion-list>
  <div class="current_order" *ngIf="CustomerOrderRunningList.orders.length==0">
    There are no current orders
  </div>
</ion-content>