page-initial {

   .coustomer_btn
   {
       background: #2196f3;
       color: white;
       font-size: 15px;
       padding: 25px;
      
   } 

   .services_btn
   {
      background: #dee0e3;
      color: black;
      font-size: 15px;
      padding: 25px;

     }
     
     .logo_margin
     {
         margin-top:100%;
     }
     .button_margin
     {
         margin-top:20%;
     }

}
